*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    background: rgb(242,183,5);
    background: linear-gradient(90deg, rgba(242,183,5,1) 0%, rgba(242,135,5,1) 100%);
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.poke-portada{
    max-width: 400px;
    min-width: 200px;
    width: 80%;
    height: auto;
}

.container--poke-logo-portada{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon--logo{
    max-width: 400px;
    min-width: 200px;
    width: 70%;
    height: auto;
}

.container-pokeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    min-width: 300px;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background-color: white; 
    margin-top: 10%;   
}

.form--top{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
    background-color: #D9072D;
    width: 100%;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}
.main-form--text{
    font-size: 1.6rem;
    margin: 4% 0;
}

.text-warning{
    color: red;
    font-size: 1.6rem;
    margin: 4% 0;
}

.main-form--text:nth-child(7){
    font-weight: bold;
}

.main-form--design-inputs{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #F3F3F3;
}

.main-form--design-inputs:hover,
.main-form--design-inputs:focus{
    outline: none;
    background-color: white;
    border: 1px solid #8ab9fc;
    box-shadow: 0 2px 6px rgb(165, 194, 236);
    transition: all 0.2s ease;
}
.button-form{
    width: 300px;
    height: 40px;
    color: rgb(100, 99, 99);
    border: none;
    border-radius: 10px;
    margin-top: 10%;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);    
}
.button-form:hover,
.button-form:focus {
    transition: all 1s ease;
    background:#D9072D;
    color: #fff;
    outline: none;
}

.warnings{
    text-align: center;
    padding-top: 2%;
    margin: auto;
}

/* @media (max-width: 480px) */
