*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

body{
    overflow-y: hidden;
}

.poke-portada{
    width: 100%;
    height: 100vh;
}

.container--poke-logo-portada{
    width: 100%;
    height: auto;
}

.pokemon--logo{
    display: flex;
    width: 400px;
    height: auto;
    position: absolute;
    top: 8%;
    left: 3%;
}

.container-pokeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    min-width: 300px;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    /* margin-top: 4%; */
    background-color: white; 
    position: absolute;
    right: 20%;
    /* box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500; */
}

.form--top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    top: 0;
    background-color: #D9072D;
    width: 100%;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-form--text{
    font-size: 1.6rem;
    margin: 4% 0;
}

.main-form--text:nth-child(7){
    font-weight: bold;
}

.main-form--design-inputs{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #F3F3F3;
}

.main-form--design-inputs:hover,
.main-form--design-inputs:focus{
    outline: none;
    background-color: white;
    border: 1px solid #8ab9fc;
    box-shadow: 0 2px 6px rgb(165, 194, 236);
    transition: all 0.2s ease;
}
.button-form{
    width: 300px;
    height: 40px;
    color: rgb(100, 99, 99);
    border: none;
    border-radius: 10px;
    margin-top: 10%;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);    
}
.button-form:hover,
.button-form:focus {
    transition: all 1s ease;
    background:#D9072D;
    color: #fff;
    outline: none;
}
