* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: #F1F1F1;
    font-family: 'Nunito', sans-serif;
    
}
html::-webkit-scrollbar {
    width: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    position: relative;
}
.pokemon-logo {
    max-width: 165px;
    min-width: 100px;
    width: 20%;
    height: auto;
    margin-left: 36px;
}

.container-profile--img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 36px;
    cursor: pointer;

}

.profile-img{
    max-width: 50px;
    min-width: 40px;
    width: 10%;
    height: 40px;
    border-radius: 100%;
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}

.user-name{
    color: #dfe1e5;
    font-weight: 600;
    margin-top: 6%;
    font-size: 1.5rem;
}


.header-input{
    min-width: 100px;
    max-width: 350px;
    width: 70%;
    margin: auto 10px;
}
.header-input input{
    max-width: 340px;
    min-width: 65px;
    width: 85%; 
    height: 40px;
    border: none;
    outline: none;
    border-radius: 150px;

}
.main-input-container{
    width: 100%;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.search-icon{
    background-image: url("../assets/img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main{
    width: 100%;
    height: auto;
}

.Poke-container {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

.preload-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cards--info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 260px;
    min-width: 100px;
    width: 11%;
    height: auto; 
    border-radius: 20px;
    margin: 10px;
    background: linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55));  
}

.container-cards--modal {
    display: none;
    background-color:white;
    width: 300px;
    height: 360px;   
}

.img-target {
    margin: 20% auto;
    max-width: 150px;
    min-width: 90px;
    width: 75%;
    height: auto;
}

.conten{
    font-size: 1.7rem;
    margin-top: 20px;
    font-weight: 500;
    color: #191970;
    text-align: center;
}

.iconCheck {
    background-image: url('../assets/icons/icons8-check-mark-50.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    background-color: cornsilk;
    border-radius: 50%;
    margin-left: 8px;
}

/*MODAL*/
.close {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.container-Close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BB0B00;
    width: 25px;
    border-radius: 100%;
    height: 25px;
    right: 13px;
    top: 9px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*target of modal*/
.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 400px;
    min-width: 100px;
    width: 90%;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.pokeModalup {
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6);
}


.img-target_MODAL{
    width: 50%; 
    height: auto;
    margin: 5% auto;
} 

.pokeModalText{
    font-size: 1.7rem;
    position: absolute;
    top: 10px;
    left: 15px;
    font-weight: bold;
}
.modal--card-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 4px;
}

.text_bold {
    font-weight: bold;
}

.btn-grad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: wheat;            
    border-radius: 20px;
    border: none;
    outline: none;
    font-weight: 600;
    position: relative;
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
}
.btn-grad:hover {
    background-position: right center;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    text-decoration: none;
}

.arrow{  
    display: flex;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
} 

.hability-content{
    display: flex;
    align-items: center;
}

.btn_type {
    font-weight: bold;
    width: 90px;
    padding: 3px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: rgb(255, 200, 55);
    margin: 0 5px;
}

.container_mtm{
    display: flex;
    overflow-x: auto;
}

.container_mtm::-webkit-scrollbar {
    -webkit-appearance: none;
}

.mtm_evolution {
    margin: 4px auto;
    font-weight: bold;
    font-size: 1.4rem;
}

.ntn{
    display: none;
}

.mtm {
    width: 90px;
    margin: 0 auto;
}

.preloader {
    width: 70px;
    height: 70px;
    border: 5px solid #eee;
    border-top: 5px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 222px auto 0; 
}
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


@media (max-width: 480px) {
    header{
        flex-direction: column;
        height: 120px;
    }
    .pokemon-logo{
        margin-left: 0;
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .container-profile--img{
        margin-right: 0;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .header-input {
        position: absolute;
        top: 67px;
    }
    .header-input input {
        height: 35px;
    } 
    .container-cards--info{
        margin: 2%;
        width: 41%;
    }

    .main-input-container{
        margin-top: 3%;
    }

    .preloader{
        margin: 50% auto;
    }

    .img-target {
        margin: 20px auto 50px;
    }   
}